<html ng-app="app">
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../bower_components/angular-ui-layout/src/ui-layout.js"></script>
    <script src="../javascripts/app.js"></script>
    <script src="../javascripts/service.js"></script>
    %s

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/angular-ui-layout/src/ui-layout.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <h1>Admin Page</h1>

%s
    
  </body>
</html>
